<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="untag.daskom.myapplication">

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="Silab Mikroprosessor"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name=".activity.kalab.KALABEditPengumuman"></activity>
        <activity android:name=".activity.aslab.ASLABEditPengumuman" />
        <activity android:name=".activity.aslab.PopupAslabDataLaboran" />
        <activity android:name=".activity.noAuth.pengumuman_detail" />
        <activity android:name=".MHSHomeGaleri" />
        <activity android:name=".MHSHomeUnduhan" />
        <activity android:name=".activity.mahasiswa.MHSDetilPengumuman" />
        <activity android:name=".activity.mahasiswa.MHSPengumuman" />
        <activity android:name=".activity.mahasiswa.MHSStrukturOrganisasi" />
        <activity android:name=".activity.mahasiswa.MHSHomeProfil" />
        <activity android:name=".activity.mahasiswa.MHSSuratMahasiswa" />
        <activity android:name=".MHSEditProfilMahasiswa" />
        <activity android:name=".MHSMasukkanTugasMahasiswa" />
        <activity android:name=".activity.mahasiswa.MHSTugasPraktikum" />
        <activity android:name=".activity.mahasiswa.HomeMahasiswa" />
        <activity android:name=".DOSBIMHomeGaleri" />
        <activity android:name=".DOSBIMHomeUnduhan" />
        <activity android:name=".activity.dosbim.DOSBIMDetilPengumuman" />
        <activity android:name=".activity.dosbim.DOSBIMPengumuman" />
        <activity android:name=".activity.dosbim.DOSBIMStrukturOrganisasi" />
        <activity android:name=".activity.dosbim.DOSBIMHomeProfil" />
        <activity android:name=".activity.dosbim.DOSBIMAbsensiMahasiswa" />
        <activity android:name=".DOSBIMEditNilaiMahasiswa" />
        <activity android:name=".activity.dosbim.DOSBIMNilaiMahasiswa" />
        <activity android:name=".activity.dosbim.DOSBIMDataLaboran" />
        <activity android:name=".DOSBIMEditProfilDosbim" />
        <activity android:name=".activity.dosbim.DOSBIMDataAslab" />
        <activity android:name=".activity.dosbim.DOSBIMDataMahasiswa" />
        <activity android:name=".activity.dosbim.HomeDosbim" />
        <activity android:name=".activity.laboran.LABORANStrukturOrganisasi" />
        <activity android:name=".activity.laboran.LABORANHomeProfil" />
        <activity android:name=".activity.laboran.LABORANHomeGaleri" />
        <activity android:name=".LABORANMasukkanGaleri" />
        <activity android:name=".LABORANMasukkanUnduhan" />
        <activity android:name=".activity.laboran.LABORANHomeUnduhan" />
        <activity android:name=".activity.laboran.LABORANDetilPengumuman" />
        <activity android:name=".LABORANMasukkanPengumuman" />
        <activity android:name=".activity.laboran.LABORANPengumuman" />
        <activity android:name=".LABORANHistory" />
        <activity android:name=".LABORANEditProfilLaboran" />
        <activity android:name=".activity.laboran.LABORANMasukkanInventarisLab" />
        <activity android:name=".activity.laboran.LABORANInventaris" />
        <activity android:name=".activity.laboran.LABORANNilaiMahasiswa" />
        <activity android:name=".activity.laboran.LABORANEditDataAslab" />
        <activity android:name=".activity.laboran.LABORANMasukkanDataAslab" />
        <activity android:name=".activity.laboran.LABORANDataAslab" />
        <activity android:name=".activity.laboran.LABORANDataDosbim" />
        <activity android:name=".LABORANEditDataMahasiswa" />
        <activity android:name=".LABORANMasukkanDataMahasiswa" />
        <activity android:name=".activity.laboran.LABORANDataMahasiswa" />
        <activity android:name=".activity.laboran.HomeLaboran" />
        <activity android:name=".activity.aslab.ASLABStrukturOrganisasi" />
        <activity android:name=".activity.aslab.ASLABHomeProfil" />
        <activity android:name=".ASLABMasukkanGaleri" />
        <activity android:name=".activity.aslab.ASLABHomeGaleri" />
        <activity android:name=".ASLABMasukkanUnduhan" />
        <activity android:name=".activity.aslab.ASLABHomeUnduhan" />
        <activity android:name=".activity.aslab.ASLABDetilPengumuman" />
        <activity android:name=".activity.aslab.ASLABMasukkanPengumuman" />
        <activity android:name=".activity.aslab.ASLABPengumuman" />
        <activity android:name=".ASLABHistory" />
        <activity android:name=".ASLABMasukkanSurat" />
        <activity android:name=".activity.aslab.ASLABDataSurat" />
        <activity android:name=".ASLABEditAbsensiMahasiswa" />
        <activity android:name=".activity.aslab.ASLABAbsensiMahasiswa" />
        <activity android:name=".ASLABEditNilaiMahasiswa" />
        <activity android:name=".activity.aslab.ASLABNilaiMahasiswa" />
        <activity android:name=".activity.aslab.ASLABTugasMahasiswa" />
        <activity android:name=".activity.aslab.ASLABDataLaboran" />
        <activity android:name=".activity.aslab.ASLABDataDosbim" />
        <activity android:name=".ASLABMasukkanDataMahasiswa" />
        <activity android:name=".ASLABEditDataMahasiswa" />
        <activity android:name=".activity.aslab.ASLABDataMahasiswa" />
        <activity android:name=".ASLABEditProfilAslab" />
        <activity android:name=".activity.aslab.HomeAslab" />
        <activity android:name=".activity.kalab.KALABAbsensiMahasiswa" />
        <activity android:name=".activity.kalab.KALABStrukturOrganisasi" />
        <activity android:name=".activity.kalab.KALABHomeProfil" />
        <activity android:name=".KALABMasukkanGaleri" />
        <activity android:name=".activity.kalab.KALABHomeGaleri" />
        <activity android:name=".KALABMasukkanUnduhan" />
        <activity android:name=".activity.kalab.KALABHomeUnduhan" />
        <activity android:name=".activity.kalab.KALABDetilPengumuman" />
        <activity android:name=".activity.kalab.KALABMasukkanPengumuman" />
        <activity android:name=".activity.kalab.KALABPengumuman" />
        <activity android:name=".KALABEditProfilKalab" />
        <activity android:name=".activity.kalab.KALABDataSurat" />
        <activity android:name=".KALABEditNilaiMahasiswa" />
        <activity android:name=".activity.kalab.KALABNilaiMahasiswa" />
        <activity android:name=".KALABEditDataDosbim" />
        <activity android:name=".KALABMasukkanDataDosbim" />
        <activity android:name=".activity.kalab.KALABDataDosbim" />
        <activity android:name=".KALABMasukkanDataMahasiswa" />
        <activity android:name=".KALABEditDataMahasiswa" />
        <activity android:name=".activity.kalab.KALABDataMahasiswa" />
        <activity android:name=".activity.kalab.KALABMasukkanDataAslab" />
        <activity android:name=".activity.kalab.KALABEditDataAslab" />
        <activity android:name=".activity.kalab.KALABDataAslab" />
        <activity android:name=".activity.kalab.KALABDataLaboran" />
        <activity android:name=".activity.kalab.KALABEditDataLaboran" />
        <activity android:name=".activity.kalab.KALABMasukkanDataLaboran" />
        <activity android:name=".KALABHistory" />
        <activity android:name=".activity.kalab.HomeKalab" />
        <activity android:name=".TerimaKasihEmail" />
        <activity android:name=".TerimaKasihWA" />
        <activity android:name=".LupaPassEmail" />
        <activity android:name=".LupaPassWA" />
        <activity android:name=".LupaPassword" />
        <activity android:name=".StrukturOrganisasi" />
        <activity android:name=".activity.HomeScreen" />
        <activity android:name=".activity.noAuth.MainActivityProfil" />
        <activity android:name=".activity.noAuth.MainActivityStruktur" />
        <activity android:name=".activity.noAuth.MainActivityUnduhan" />
        <activity android:name=".activity.noAuth.MainActivityPengumuman" />
        <activity android:name=".activity.noAuth.MainActivityGaleri" />
        <activity android:name=".activity.MainActivityLogin" />
        <activity android:name=".activity.kalab.PopupKalabDataLaboran" />
        <activity
            android:name=".activity.MainActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>