<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="untag.daskom.myapplication">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>


    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="Silab Mikroprosessor"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name=".activity.noAuth.pengumuman_detail" />
        <activity android:name=".MHSHomeGaleri" />
        <activity android:name=".MHSHomeUnduhan" />
        <activity android:name=".MHSDetilPengumuman" />
        <activity android:name=".MHSPengumuman" />
        <activity android:name=".MHSStrukturOrganisasi" />
        <activity android:name=".MHSHomeProfil" />
        <activity android:name=".MHSHomeSuratMahasiswa" />
        <activity android:name=".MHSEditProfilMahasiswa" />
        <activity android:name=".MHSMasukkanTugasMahasiswa" />
        <activity android:name=".MHSHomeTugasMahasiswa" />
        <activity android:name=".activity.mahasiswa.HomeMahasiswa"/>
        <activity android:name=".DOSBIMHomeGaleri" />
        <activity android:name=".DOSBIMHomeUnduhan" />
        <activity android:name=".DOSBIMDetilPengumuman" />
        <activity android:name=".DOSBIMPengumuman" />
        <activity android:name=".DOSBIMStrukturOrganisasi" />
        <activity android:name=".DOSBIMHomeProfil" />
        <activity android:name=".DOSBIMAbsensiMahasiswa" />
        <activity android:name=".DOSBIMEditNilaiMahasiswa" />
        <activity android:name=".DOSBIMNilaiMahasiswa" />
        <activity android:name=".DOSBIMDataLaboran" />
        <activity android:name=".DOSBIMEditProfilDosbim" />
        <activity android:name=".DOSBIMDataAslab" />
        <activity android:name=".DOSBIMDataMahasiswa" />
        <activity android:name=".activity.dosbim.HomeDosbim" />
        <activity android:name=".LABORANStrukturOrganisasi" />
        <activity android:name=".LABORANHomeProfil" />
        <activity android:name=".LABORANHomeGaleri" />
        <activity android:name=".LABORANMasukkanGaleri" />
        <activity android:name=".LABORANMasukkanUnduhan" />
        <activity android:name=".LABORANHomeUnduhan" />
        <activity android:name=".LABORANDetilPengumuman" />
        <activity android:name=".LABORANMasukkanPengumuman" />
        <activity android:name=".LABORANPengumuman" />
        <activity android:name=".LABORANHistory" />
        <activity android:name=".LABORANEditProfilLaboran" />
        <activity android:name=".LABORANMasukkanInventarisLab" />
        <activity android:name=".LABORANInventaris" />
        <activity android:name=".LABORANNilaiMahasiswa" />
        <activity android:name=".LABORANEditDataAslab" />
        <activity android:name=".LABORANMasukkanDataAslab" />
        <activity android:name=".LABORANDataAslab" />
        <activity android:name=".LABORANDataDosbim" />
        <activity android:name=".LABORANEditDataMahasiswa" />
        <activity android:name=".LABORANMasukkanDataMahasiswa" />
        <activity android:name=".activity.laboran.LABORANDataMahasiswa" />
        <activity android:name=".activity.laboran.HomeLaboran" />
        <activity android:name=".ASLABStrukturOrganisasi" />
        <activity android:name=".ASLABHomeProfil" />
        <activity android:name=".ASLABMasukkanGaleri" />
        <activity android:name=".ASLABHomeGaleri" />
        <activity android:name=".ASLABMasukkanUnduhan" />
        <activity android:name=".ASLABHomeUnduhan" />
        <activity android:name=".ASLABDetilPengumuman" />
        <activity android:name=".ASLABMasukkanPengumuman" />
        <activity android:name=".ASLABPengumuman" />
        <activity android:name=".ASLABHistory" />
        <activity android:name=".ASLABMasukkanSurat" />
        <activity android:name=".ASLABDataSurat" />
        <activity android:name=".ASLABEditAbsensiMahasiswa" />
        <activity android:name=".ASLABAbsensiMahasiswa" />
        <activity android:name=".ASLABEditNilaiMahasiswa" />
        <activity android:name=".ASLABNilaiMahasiswa" />
        <activity android:name=".ASLABTugasMahasiswa" />
        <activity android:name=".ASLABDataLaboran" />
        <activity android:name=".ASLABDataDosbim" />
        <activity android:name=".ASLABMasukkanDataMahasiswa" />
        <activity android:name=".ASLABEditDataMahasiswa" />
        <activity android:name=".ASLABDataMahasiswa" />
        <activity android:name=".ASLABEditProfilAslab" />
        <activity android:name=".activity.aslab.HomeAslab" />
        <activity android:name=".activity.kalab.KALABAbsensiMahasiswa" />
        <activity android:name=".KALABStrukturOrganisasi" />
        <activity android:name=".KALABHomeProfil" />
        <activity android:name=".KALABMasukkanGaleri" />
        <activity android:name=".KALABHomeGaleri" />
        <activity android:name=".KALABMasukkanUnduhan" />
        <activity android:name=".KALABHomeUnduhan" />
        <activity android:name=".KALABDetilPengumuman" />
        <activity android:name=".KALABMasukkanPengumuman" />
        <activity android:name=".KALABPengumuman" />
        <activity android:name=".KALABEditProfilKalab" />
        <activity android:name=".activity.kalab.KALABDataSurat" />
        <activity android:name=".KALABEditNilaiMahasiswa" />
        <activity android:name=".activity.kalab.KALABNilaiMahasiswa" />
        <activity android:name=".KALABEditDataDosbim" />
        <activity android:name=".KALABMasukkanDataDosbim" />
        <activity android:name=".activity.kalab.KALABDataDosbim" />
        <activity android:name=".KALABMasukkanDataMahasiswa" />
        <activity android:name=".KALABEditDataMahasiswa" />
        <activity android:name=".activity.kalab.KALABDataMahasiswa" />
        <activity android:name=".KALABMasukkanDataAslab" />
        <activity android:name=".KALABEditDataAslab" />
        <activity android:name=".activity.kalab.KALABDataAslab" />
        <activity android:name=".activity.kalab.KALABDataLaboran" />
        <activity android:name=".activity.kalab.KALABEditDataLaboran" />
        <activity android:name=".activity.kalab.KALABMasukkanDataLaboran" />
        <activity android:name=".KALABHistory" />
        <activity android:name=".activity.kalab.HomeKalab" />
        <activity android:name=".TerimaKasihEmail" />
        <activity android:name=".TerimaKasihWA" />
        <activity android:name=".LupaPassEmail" />
        <activity android:name=".LupaPassWA" />
        <activity android:name=".LupaPassword" />
        <activity android:name=".StrukturOrganisasi" />
        <activity android:name=".activity.HomeScreen" />
        <activity android:name=".activity.noAuth.MainActivityProfil" />
        <activity android:name=".activity.noAuth.MainActivityStruktur" />
        <activity android:name=".activity.noAuth.MainActivityUnduhan" />
        <activity android:name=".activity.noAuth.MainActivityPengumuman" />
        <activity android:name=".activity.noAuth.MainActivityGaleri"/>
        <activity android:name=".activity.MainActivityLogin"/>
        <activity android:name=".activity.kalab.PopupKalabDataLaboran"/>
        <activity
            android:name=".activity.MainActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>